@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link{
    @apply text-primary;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  :root {
    --secondary-color: theme('colors.secondary'); /*Esto usa Tailwind para definir la variable CSS*/
  }
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    border-top: 4px solid var(--secondary-color); 
  }
  
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }